<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<!-- navbar -->  
<body onload="b4createTable()">
<nav class="navbar navbar-expand-lg fixed-top ">  
    <a class="navbar-brand" href="#top">Home</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
    <!-- <li class="nav-item">
        <a class="nav-link" data-value="about" href="#about">About</a>        </li>  
   <li class="nav-item">
       <a class="nav-link " data-value="portfolio"href="#">Portfolio</a>    
    </li>
    <li class="nav-item"> 
       <a class="nav-link " data-value="blog" href="#">Blog</a>         </li>   
    <li class="nav-item"> 
        <a class="nav-link " data-value="contact" href="#contact">Contact</a>       </li> 
   <li class="nav-item">  
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>       </li>  -->
    <li class="nav-item">
      <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </li>
   
   </ul> 
   </div></nav>

<header class="header" id="top">
    <div class="overlay"></div>
        <div class="container">
            <div class="description ">
                <h1>    Welcome To Company C Website
                 <p>    Hello, {{name}}!</p>   
              <button class="btn btn-outline-secondary btn-lg">See more</button>   </h1>  
             </div> 
        </div>
</header>

<div id="searchy">
  <div class="searchy-container">
  <ul class="nav nav-pills mb-3 nav-justified" id="ex1" role="tablist">
    <li class="nav-item" role="presentation" id="pill1">
      <a
        class="nav-link active"
        id="ex1-tab-1"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-1"
        role="tab"
        aria-controls="ex1-pills-1"
        aria-selected="true"
        >Search</a
      >
    </li>
    <li class="nav-item" role="presentation" id="pill2">
      <a
        class="nav-link"
        id="ex1-tab-2"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-2"
        role="tab"
        aria-controls="ex1-pills-2"
        aria-selected="false"
        >View Table</a
      >
    </li>
    <li class="nav-item" role="presentation" id="pill3">
      <a
        class="nav-link"
        id="ex1-tab-3"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-3"
        role="tab"
        aria-controls="ex1-pills-3"
        aria-selected="false"
        >Stats</a
      >
    </li>
    <li class="nav-item" role="presentation" id="pill4">
      <a
        class="nav-link"
        id="ex1-tab-4"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-4"
        role="tab"
        aria-controls="ex1-pills-4"
        aria-selected="false"
        >Compare Countries</a
      >
    </li>
    <li class="nav-item" role="presentation" id="pill5">
      <a
        class="nav-link"
        id="ex1-tab-5"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-5"
        role="tab"
        aria-controls="ex1-pills-5"
        aria-selected="false"
        >Axis vs Allies</a
      >
    </li>
    <li class="nav-item" role="presentation" id="pill5">
      <a
        class="nav-link"
        id="ex1-tab-6"
        data-mdb-toggle="pill"
        data-toggle="pill"
        href="#ex1-pills-6"
        role="tab"
        aria-controls="ex1-pills-6"
        aria-selected="false"
        >Edit Data</a
      >
    </li>
  </ul>
  </div>
  <!-- Pills navs -->

  <!-- Pills content -->
  <div class="tab-content" id="ex1-content">
    <div
      class="tab-pane fade in show active"
      id="ex1-pills-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
      Tab 1 content

      <div id="searchbar" class="classS" style="padding-bottom:50px 0">
        <form method=POST>
        <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
              <input id="search" name="search" class="search_input" type="text" name="" placeholder="Search...">
              <button type="submit" class="search_icon"><i class="fa fa-search"></i></button>
                <!--<a href="#" class="search_icon"><i class="fas fa-search"></i></a>--><br>
                
            </div>
          </div>
        </div>
        <div id="selector">Search in:
          <select id="cat" name="cat">
            <option selected="selected">Select category</option>
            <option value="Battle">Battle</option>
            <option value="Commander">Commander</option>
            <option value="Military">Military</option>
            <option value="Ship">Ship</option>
          </select> by:
          <select id="by" name="by">
            <option selected="selected"></option>
          </select>
          </div>

        </form>
      </div>
      
    </div>
    <div class="tab-pane fade in" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
      Tab 2 content
      <div class="container classS" style="padding-bottom:50px 0"> <!--start here-->
        <h3>Select table to view &#x1F440</h3>
        <form method=POST>
          <select id="tables" name="tables">
            <option selected="selected">Select table</option>
            <option value="Battle">Battle</option>
            <option value="Commander">Commander</option>
            <option value="COMMANDM">Military under Command</option>
            <option value="Country">Country</option>
            <option value="Event">Event</option>
            <option value="has">Battle Info</option>
            <option value="hass">Ship Info</option>
            <option value="Military">Military</option>
            <option value="Place">Place</option>
            <option value="Ship">Ship</option>
            <option value="Surrender">Surrender</option>
            <option value="War">Declaration of War</option>
          </select>
          <p>Sort by:</p>
          <select id="sort" name="sort">
            <option selected="selected"></option>
          </select>
          <p>Order by:</p>
          <select id="order" name="order">
            <option selected="selected">Select order</option>
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
          </select>
          <p></p><button type="submit" class="view_table">Submit</submit>
        </form>
      </div> <!-- end here-->
    </div>
    <div class="tab-pane fade in" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
      Tab 3 content
      <div> <!--starts here-->
        <div class="container">
          <form method=POST>
            <h3>Select the statistics and countries and press Submit -> :)</h3>
            <button type="submit" class="search_stats">Submit</button>
          <div class="row">
              <div class="col-md-6">
              <div class="card" style="margin:50px 0">
                        <!-- Default panel contents -->
                        <div class="card-header">Select Statistics</div>
                    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Average
                                        <label class="switch ">
                  <input type="checkbox" class="average" name="stats" value="Average">
                  <span class="slider"></span>
                </label>
                            </li>
                            <li class="list-group-item">
                                Max
                                        <label class="switch ">
                  <input type="checkbox" class="max" name="stats" value="Max">
                  <span class="slider"></span>
                </label>
                            </li>
                            <li class="list-group-item">
                                Min
                                        <label class="switch ">
                  <input type="checkbox" class="min" name="stats" value="Min">
                  <span class="slider"></span>
                </label>
                            </li>
                            <li class="list-group-item">
                                Sum
                                       <label class="switch ">
                  <input type="checkbox" class="sum" name="stats" value="Sum">
                  <span class="slider"></span>
                </label>
                            </li>
                    </div> 
                    </div>
                    <div class="col-md-6">
              <div class="card" style="margin:50px 0">
                        <!-- Default panel contents -->
                        <div class="card-header">Select Countries</div>
                    
                        <ul class="list-group list-group-flush">
                          {% for i in range(numCountry) %}
                            <li class="list-group-item">
                              {{ countrylist[i] }}
                              <label class="switch ">
                                <input type="checkbox" name="countries" value="{{ countrylist[i] }}">
                                <span class="slider round"></span>
                              </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div> 
                    </div>
              
            </div>
            </form>
        </div>
      </div> <!--ends here-->
    </div>
    <div class="tab-pane fade in" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
      Tab 4 content
      <div><!--starts here-->
        <div class="container">
          <form method=POST>
            <h3>Draw some nice pie charts!</h3>
            <button type="submit" class="chart">Submit</button>
            <div class="row">
              <div class="col-md-6">
                <div class="card" style="margin:50px 0">
                          <!-- Default panel contents -->
                          <div class="card-header">Select Countries in Chart</div>
                      
                          <ul class="list-group list-group-flush">
                            {% for i in range(numCountry) %}
                            <li class="list-group-item">
                              {{ countrylist[i] }}
                              <label class="switch ">
                                <input type="checkbox" name="countries2" value="{{ countrylist[i] }}">
                                <span class="slider round"></span>
                              </label>
                            </li>
                            {% endfor %}
                          </ul>
                      </div> 
                      </div>
              <div class="col-md-6">
                <div class="card" style="margin:50px 0">
                  <!-- Default panel contents -->
                  <div class="card-header">Select Variables to Chart</div>
              
                  <ul class="list-group list-group-flush">
                    {% for i in range(numCountryVariable) %}
                    <li class="list-group-item">
                      {{ countryvariablenames[i] }}
                      <label class="switch ">
                        <input type="checkbox" class="variables" name="variables" value="{{countryvariable[i]}}">
                        <span class="slider round"></span>
                      </label>
                    </li>
                    {% endfor %}
                      
                  </ul>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- ends here-->
    </div>
    <div class="tab-pane fade in" id="ex1-pills-5" role="tabpanel" aria-labelledby="ex1-tab-5">
      Tab 5 content
      <div class="container classS"> <!--starts here-->
        <form method=POST>
            <h3>Select battle to compare </h3>
            <select id="comparebatt" name="comparebatt">
              <option selected="selected">Select battle</option>
              {% for i in range(numBattle) %}
                <option value="{{battlelist[i]}}">{{battlelist[i]}}</option>
              {% endfor %}
            </select>
            <p></p><button type="submit" class="compare_battle">Submit</submit>
        </form>
      </div> <!--ends here-->
    </div>

    <div class="tab-pane fade in" id="ex1-pills-6" role="tabpanel" aria-labelledby="ex1-tab-6">
      Tab 6 content
      <div > <!--starts here-->
            <h3>Edit Data</h3>
            <div class='classS'>
              <h3>
              Select the table to insert into. <br> Enclose Alphanumeric and Date fields in Single Quotes <br> Replace all commas with _ <br> Click the "Add New Row" button to add a new row to the table. <br> Enter values in each row and press the "Submit Data" button.
              </h3>
              
              <p>
                <select id="operation" name="operation">
                  <option selected="selected">Select operation</option>
                  <option value="UPDATE">Update</option>
                  <option value="INSERT">Insert</option>
                  <option value="DELETE">Delete</option>
                </select>
              </p>
              
              
              <div id="updatediv">
                <form method="POST">
                <p><select id="tables2" name="tables2">
                  <option selected="selected">Select table</option>
                  <option value="Battle">Battle</option>
                  <option value="Commander">Commander</option>
                  <option value="COMMANDM">Military under Command</option>
                  <option value="Country">Country</option>
                  <option value="Event">Event</option>
                  <option value="has">Battle Info</option>
                  <option value="hass">Ship Info</option>
                  <option value="Military">Military</option>
                  <option value="Place">Place</option>
                  <option value="Ship">Ship</option>
                  <option value="Surrender">Surrender</option>
                  <option value="War">Declaration of War</option>
                </select></p>
                <input id="up" name="up"></input>
                <button type="submit" id="upbt">Load Data</button>
                </form>
                <div id="upd">
                  <h3 id='Tname' value="{{tablename}}">{{tablename}}</h3>

                  <div id="popup" data-name="editor" class="dialog">
                    <input id="inputeditor" name="inputeditor"></input> 
                    <button id='saveedit' type="button">Save</button>           
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;   </span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                  
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                   </div>
                  </div>
                  </div>

                  <table id="uptable">
                  <tr>
                    {% for c in cols %}
                    <th>{{c}}</th>
                    {% endfor %}
                    </tr>
                  
                  {% for i in range(numResult) %}
                      <tr>
                        {% set rowloop = loop %}
                        {% for j in range(numCols) %}
                          <td>{{ result[rowloop.index-1][var[j]] }}</td>
                          {% endfor %}
                      </tr> 
                  {% endfor %}
                </table>
                </div> <!-- the container to add the TABLE -->
              </div>

              <div id="insertdiv">
                <p><select id="tables3" name="tables3">
                  <option selected="selected">Select table</option>
                  <option value="Battle">Battle</option>
                  <option value="Commander">Commander</option>
                  <option value="COMMANDM">Military under Command</option>
                  <option value="Country">Country</option>
                  <option value="Event">Event</option>
                  <option value="has">Battle Info</option>
                  <option value="hass">Ship Info</option>
                  <option value="Military">Military</option>
                  <option value="Place">Place</option>
                  <option value="Ship">Ship</option>
                  <option value="Surrender">Surrender</option>
                  <option value="War">Declaration of War</option>
                </select></p>
              <div id="cont"></div>  <!-- the container to add the TABLE -->
              <p><input type="button" id="addRow" value="Add New Row" onclick="addRow()" /></p>
              <form method='POST' id='editform'>
              <input id="edits" name="edits" class="edit_tables" type="text" >
              <p id="edits" name="edits"></p>
              <p>
              <button type="button" id="cfm" value="Confirm Edits" onclick="submitPost()">Confirm Edits</button>
              <button type="submit" id="bt" value="Submit Data" onclick="submitPost()" disabled>Submit Data</button>
              </p>
              </form>
              </div>

              <div id="deletediv">

              </div>
            </div>
        
      </div> <!--ends here-->
    </div>


  </div>
</div>

<script>
  var arrHead = new Array();	// array for header.
  var comcols=['', "Name", "Rank", "Country"];
  var battcols=['', "ID", "Name", "Description", "Armor Lost, Axis", "Aircraft Lost, Axis", "Carriers Lost, Axis", "Battleships Lost, Axis", "Cruisers Lost, Axis", "Destroyers Lost, Axis", "Submarines Lost, Axis", "Casualties, Axis", "Armor Lost, Allies", "Aircraft Lost, Allies", "Carriers Lost, Allies", "Battlehsips Lost, Allies", "Cruisers Lost, Allies", "Destroyers Lost, Allies", "Submarines Lost, Allies", "Casualties, Allies", "Part Of (ID)"];
  var milcols=['', "Country", "Name", "Type"];
  var shipcols=['', "Name", "Type", "Country", "Sunk By", "Sunk Date"];
  var countrycols=['', "Name", "Max Ground Strength", "No. of Carriers", "No. of Battleships", "No. of Cruisers", "No. of Destroyers", "No. of Submarines", "No. of Fighters", "No. of Bombers", "Armor Lost", "Aircraft Lost", "Carriers Lost", "Battleships Lost", "Cruisers Lost", "Destroyers Lost", "Submarines Lost", "Military Casualties", "Civilian Casualties"];
  var surrendercols=['', "Surrendering country", "Country accepting surrender", "Date of surrender"];
  var warcols=['', "Country declaring war", "Country being declared war on", "Date of declaration"];
  var eventcols=['', "ID", "Country 1 involved", "Country 2 involved", "Date", "Description"];
  var placecols=['', "Place", "Country"];
  var commandmcols=['', "Commander", "Country", "Military name", "Start Date", "End Date"];
  var hascols=['', "ID", "Place", "Axis armies ID", "Allied armies ID", "Start Date", "End Date"];
  var hasscols=['', "Ship", "Country", "Military name", "Start Date", "End Date"];

  var comtype=['', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)'];
  var batttype=['', '(Numeric)', '(Alphanumeric)', '(Alphanumeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)'];
  var miltype=['', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)'];
  var shiptype=['', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)', '(Date)'];
  var countrytype=['', '(Alphanumeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)', '(Numeric)'];
  var surrendertype=['', '(Alphanumeric)', '(Alphanumeric)', '(Date)'];
  var wartype=['', '(Alphanumeric)', '(Alphanumeric)', '(Date)'];
  var eventtype=['', '(Numeric)', '(Alphanumeric)', '(Alphanumeric)', '(Date)', '(Alphanumeric)'];
  var placetype=['', '(Alphanumeric)', '(Alphanumeric)'];
  var commandmtype=['', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)', '(Date)', '(Date)'];
  var hastype=['', '(Numeric)', '(Alphanumeric)', '(Numeric)', '(Numeric)', '(Date)', '(Date)'];
  var hasstype=['', '(Alphanumeric)', '(Alphanumeric)', '(Alphanumeric)', '(Date)', '(Date)'];

  var comPK=comcols.slice(1,2); var comK=comcols.slice(2);
  var battPK=battcols.slice(1,2); var battK=battcols.slice(2);
  var milPK=milcols.slice(1,3); var milK=milcols.slice(3);
  var shipPK=shipcols.slice(1,2); var shipK=shipcols.slice(2);
  var countryPK=countrycols.slice(1,2); var countryK=countrycols.slice(2);
  var surrenderPK=surrendercols.slice(1,2); var surrenderK=surrendercols.slice(2);
  var warPK=warcols.slice(1,3); var warK=warcols.slice(3);
  var eventPK=eventcols.slice(1,2); var eventK=eventcols.slice(2);
  var placePK=placecols.slice(1,2); var placeK=placecols.slice(2);
  var commandmPK=commandmcols.slice(1,4); var commandmK=commandmcols.slice(4);
  var hasPK=hascols.slice(1,5); var hasK=hascols.slice(5);
  var hassPK=hasscols.slice(1,4); var hassK=hasscols.slice(4);

  var comvar=['', 'NAME', 'COMRANK', 'CNAME'];
  var battvar=['', 'ID', 'NAME', 'DESCR', 'AXISNUMARMORL', 'AXISNUMAIRCRAFTL', 'AXISNUMCVL', 'AXISNUMBBL', 'AXISNUMCL', 'AXISNUMDDL', 'AXISNUMSSL', 'AXISCASUALTY', 'ALLIEDNUMARMORL', 'ALLIEDNUMAIRCRAFTL', 'ALLIEDNUMCVL', 'ALLIEDNUMBBL', 'ALLIEDNUMCL', 'ALLIEDNUMDDL', 'ALLIEDNUMSSL', 'ALLIEDCASUALTY', 'PARTOF'];
  var milvar=['', 'CNAME', 'NAME', 'TYPE'];
  var shipvar=['', 'NAME', 'TYPE', 'CNAME', 'SUNKBY', 'SUNKDATE'];
  var countryvar=['', 'NAME', 'MAXGSTR', 'NUMCV', 'NUMBB', 'NUMC', 'NUMDD', 'NUMSS', 'NUMFIGHT', 'NUMBOMB', 'NUMARMORL', 'NUMAIRCRAFTL', 'NUMCVL', 'NUMBBL', 'NUMCL', 'NUMDDL', 'NUMSSL', 'MCASUALTY', 'CCASUALTY'];
  var surrendervar=['', 'C1', 'C2', 'DDATE'];
  var warvar=['', 'C1', 'C2', 'DDATE'];
  var eventvar=['', 'ID', 'C1', 'C2', 'SDATE', 'DESCR'];
  var placevar=['', 'NAME', 'CNAME'];
  var commandmvar=['', 'COMNAME', 'MCNAME', 'MNAME', 'SDATE', 'EDATE'];
  var hasvar=['', 'ID', 'PNAME', 'AXISKEY', 'ALLIEDKEY', 'SDATE', 'EDATE'];
  var hassvar=['', 'SHIP', 'MCNAME', 'MNAME', 'SDATE', 'EDATE'];

  var aItems = [];
  var aVar=[];
  var aType=[];
  var PK=[];
  var K=[];
  var tablename='';
  function b4createTable(){
    var op;
    document.getElementById("updatediv").style.display="none";
    document.getElementById("insertdiv").style.display="none";
    document.getElementById("deletediv").style.display="none";
    document.getElementById("operation").addEventListener("change", function(e){
      op=this.value;
      if(op=="UPDATE"){
        document.getElementById("updatediv").style.display="block";
        document.getElementById("insertdiv").style.display="none";
        document.getElementById("deletediv").style.display="none";
      } else if (op=="INSERT"){
        document.getElementById("updatediv").style.display="none";
        document.getElementById("insertdiv").style.display="block";
        document.getElementById("deletediv").style.display="none";
      } else if(op=="DELETE"){
        document.getElementById("updatediv").style.display="none";
        document.getElementById("insertdiv").style.display="none";
        document.getElementById("deletediv").style.display="block";
      }
    }, false)

  document.getElementById("tables3").addEventListener("change", function(e){
		tablename=this.value;
	if(this.value == "Commander"){
		aItems = comcols;
    aVar = comvar;
    aType=comtype;
    PK=comPK;
    K=comK;
	} else if (this.value == "Military") {
		aItems = milcols;
    aVar = milvar;
    aType=miltype;
    PK=milPK;
    K=milK;
	} else if(this.value == "Battle") {
		aItems = battcols;
    aVar = battvar;
    aType=batttype;
    PK=battPK;
    K=battK;
	} else if(this.value == "Ship") {
		aItems = shipcols;
    aVar = shipvar;
    aType=shiptype;
    PK=shipPK;
    K=shipK;
	} else if(this.value == "COMMANDM"){
		aItems = commandmcols;
    aVar = commandmvar;
    aType=commandmtype;
    PK=commandmPK;
    K=commandmK;
	} else if(this.value == "Country"){
		aItems = countrycols;
    aVar = countryvar;
    aType=countrytype;
    PK=countryPK;
    K=countryK;
	} else if(this.value == "Event"){
		aItems = eventcols;
    aVar = eventvar;
    aType=eventtype;
    PK=eventPK;
    K=eventK;
	} else if(this.value == "has"){
		aItems = hascols;
    aVar = hasvar;
    aType=hastype;
    PK=hasPK;
    K=hasK;
	} else if(this.value == "hass"){
		aItems = hasscols;
    aVar = hassvar;
    aType=hasstype;
    PK=hassPK;
    K=hassK;
	} else if(this.value == "Place"){
		aItems = placecols;
    aVar = placevar;
    aType=placetype;
    PK=placePK;
    K=placeK;
	} else if(this.value == "Surrender"){
		aItems = surrendercols;
    aVar = surrendervar;
    aType=surrendertype;
    PK=surrenderPK;
    K=surrenderK;
	} else if(this.value == "War"){
		aItems = warcols;
    aVar = warvar;
    aType=wartype;
    PK=warPK;
    K=warK;
	}

  if (document.contains(document.getElementById("empTable"))) {
            document.getElementById("empTable").remove();
  } 
  if(op=="INSERT"){
    createTable();
  }
  
  },false);
  
  var uptab = document.getElementById('uptable');
        //var arrValues = new Array();
        //arrValues.push(tablename);
        // loop through each row of the table.
        for (row = 1; row < uptab.rows.length; row++) {
        	// loop through each cell in a row.
            for (c = 0; c < uptab.rows[row].cells.length; c++) {  
              var element = uptab.rows.item(row).cells[c];
              if(document.getElementById('Tname').innerHTML!=''){
                var tname=document.getElementById('Tname').innerHTML;
                if(tname == "Commander"){
                aItems = comcols;
                aVar = comvar;
                aType=comtype;
                PK=comPK;
                K=comK;
              } else if (tname == "Military") {
                aItems = milcols;
                aVar = milvar;
                aType=miltype;
                PK=milPK;
                K=milK;
              } else if(tname == "Battle") {
                aItems = battcols;
                aVar = battvar;
                aType=batttype;
                PK=battPK;
                K=battK;
              } else if(tname == "Ship") {
                aItems = shipcols;
                aVar = shipvar;
                aType=shiptype;
                PK=shipPK;
                K=shipK;
              } else if(tname == "COMMANDM"){
                aItems = commandmcols;
                aVar = commandmvar;
                aType=commandmtype;
                PK=commandmPK;
                K=commandmK;
              } else if(tname == "Country"){
                aItems = countrycols;
                aVar = countryvar;
                aType=countrytype;
                PK=countryPK;
                K=countryK;
              } else if(tname == "Event"){
                aItems = eventcols;
                aVar = eventvar;
                aType=eventtype;
                PK=eventPK;
                K=eventK;
              } else if(tname == "has"){
                aItems = hascols;
                aVar = hasvar;
                aType=hastype;
                PK=hasPK;
                K=hasK;
              } else if(tname == "hass"){
                aItems = hasscols;
                aVar = hassvar;
                aType=hasstype;
                PK=hassPK;
                K=hassK;
              } else if(tname == "Place"){
                aItems = placecols;
                aVar = placevar;
                aType=placetype;
                PK=placePK;
                K=placeK;
              } else if(tname == "Surrender"){
                aItems = surrendercols;
                aVar = surrendervar;
                aType=surrendertype;
                PK=surrenderPK;
                K=surrenderK;
              } else if(tname == "War"){
                aItems = warcols;
                aVar = warvar;
                aType=wartype;
                PK=warPK;
                K=warK;
              }
            }
              
              if(PK.includes(aItems[c+1])){
                element.style.background='red';
              } else {
                element.classList.add('popuptrigger');
                element.style.background='green';
                element.style.cursor="pointer";
                element.click(function(){
                    
                });
              }
            }
        }
  }

  //element.addEventListener("click", function(event){
   //               var cell_value = $(event.target).text();
     //             showPopup(cell_value)    
   //           });

   //           function showPopup(val){
   //               $("#popup").dialog({
  //                    width: 500,
    //                  height: 300,
    //                  open: function(){
    //                      $(this).find("insert").html(val)
    //                  }
    //              });
    //          }
  
  // first create TABLE structure with the headers. 
  function createTable() {
      var empTable = document.createElement('table');
      empTable.setAttribute('id', 'empTable'); // table id.

      var tr = empTable.insertRow(-1);
      for (var h = 0; h < aItems.length; h++) {
          var th = document.createElement('th'); // create table headers
          th.innerHTML = aItems[h] + " " + aType[h];
          tr.appendChild(th);
      }

      var div = document.getElementById('cont');
      div.appendChild(empTable);  // add the TABLE to the container.
  }

  // now, add a new to the TABLE.
  function addRow() {
      var empTab = document.getElementById('empTable');

      var rowCnt = empTab.rows.length;   // table row count.
      var tr = empTab.insertRow(rowCnt); // the table row.
      tr = empTab.insertRow(rowCnt);

      for (var c = 0; c < aItems.length; c++) {
          var td = document.createElement('td'); // table definition.
          td = tr.insertCell(c);

          if (c == 0) {      // the first column.
              // add a button in every new row in the first column.
              var button = document.createElement('input');

              // set input attributes.
              button.setAttribute('type', 'button');
              button.setAttribute('value', 'Remove');

              // add button's 'onclick' event.
              button.setAttribute('onclick', 'removeRow(this)');

              td.appendChild(button);
          }
          else {
              // 2nd, 3rd and 4th column, will have textbox.
              var ele = document.createElement('input');
              ele.setAttribute('type', 'text');
              ele.setAttribute('value', '');

              td.appendChild(ele);
          }
      }
  }

  // delete TABLE row function.
  function removeRow(oButton) {
      var empTab = document.getElementById('empTable');
      empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
  }

  function submitPost(){
    var form = document.getElementById('editform');
    var myTab = document.getElementById('empTable');
        var arrValues = new Array();
        arrValues.push(tablename);
        // loop through each row of the table.
        for (row = 1; row < myTab.rows.length - 1; row++) {
        	// loop through each cell in a row.
            for (c = 0; c < myTab.rows[row].cells.length; c++) {  
                var element = myTab.rows.item(row).cells[c];
                if (element.childNodes[0].getAttribute('type') == 'text') {
                    arrValues.push("'" + element.childNodes[0].value + "'");
                }
            }
        }
        
        // The final output.
        // document.getElementById('edits').innerHTML = arrValues;
        document.getElementById('edits').value = arrValues;
        document.getElementById("bt").disabled = false;
  }
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datepick/5.1.1/js/jquery.plugin.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script type="text/javascript" src='../../static/js/name.js'></script>   

</body>



